@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-gemunu-libre;
  }

  body {
    @apply bg-[#1f1f1f] text-[#f1f1f1];
  }

  h1 {
    @apply relative inline-block mb-1 text-2xl font-bold after:content-[''] after:absolute after:h-[3px] after:w-6 after:-bottom-1 after:left-0 after:bg-[#e30e30];
  }

  p {
    @apply text-[#a9a9a9];
  }

  textarea {
    @apply resize-none;
  }

  button {
    @apply flex justify-center items-center gap-2 rounded-sm font-semibold;
  }

  button,
  li,
  a,
  p,
  svg {
    @apply transition-all ease-in-out duration-300;
  }

  th,
  td {
    @apply text-left align-middle py-4 px-5 whitespace-nowrap;
  }

  td {
    @apply text-[#a9a9a9];
  }

  *::-webkit-scrollbar {
    @apply w-[10px] rounded-[8px] bg-[#3f3f3f];
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-[8px] bg-[#5a5a5a];
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-[#6a6a6a];
  }

  *::-webkit-scrollbar-track {
    @apply rounded-[8px] bg-[#3f3f3f];
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #5a5a5a #3f3f3f;
  }

  @media (max-width: 767px) {
    *::-webkit-scrollbar {
      display: none;
    }
  }
}

@layer components {
  .heading {
    @apply relative inline-block mb-1 text-2xl font-bold after:content-[''] after:absolute after:h-[3px] after:w-1/4 after:-bottom-1 after:left-0 after:bg-[#e30e30];
  }

  .primary-btn {
    @apply bg-[#e30e30] text-[#f1f1f1] [&>p]:text-[#f1f1f1];
  }

  .primary-btn--hover {
    @apply hover:bg-[#f1f1f1] hover:text-[#e30e30] [&>p]:hover:text-[#e30e30] [&>*]:hover:fill-[#e30e30] [&>*]:hover:stroke-[#e30e30];
  }

  .secondary-btn {
    @apply bg-[#f1f1f1] text-[#1f1f1f] [&>p]:text-[#1f1f1f] hover:bg-[#ffffff];
  }

  .nav--li {
    @apply flex items-center gap-6 py-2 px-6 rounded-md hover:bg-[#2f2f2f] [&>*]:hover:text-[#f1f1f1] [&>*]:hover:fill-[#f1f1f1] [&>*]:hover:stroke-[#f1f1f1] md:justify-center md:gap-3 md:px-3 md:hover:bg-transparent md:rounded-none md:border-b-2 md:border-transparent md:hover:border-[#f1f1f1] md:[&>svg]:hidden;
  }

  .active-nav {
    @apply [&>p]:font-bold [&>*]:text-[#f1f1f1] md:border-[#e30e30];
  }

  .inactive-nav {
    @apply [&>p]:font-semibold [&>*]:text-[#9f9f9f];
  }

  .footer--li {
    @apply w-fit cursor-pointer text-[#a9a9a9] hover:text-[#f1f1f1];
  }

  .footer--sub-section {
    @apply space-y-1 [&>h2]:text-lg [&>h2]:font-bold [&>h2]:tracking-wider;
  }

  .social-link {
    @apply w-10 h-10 flex justify-center items-center rounded-full cursor-pointer bg-[#f1f1f1] hover:bg-[#e30e30] [&>*]:hover:fill-[#f1f1f1];
  }

  .card-container {
    @apply col-span-1 space-y-1 rounded-sm;
  }

  .card-container > h3 {
    @apply text-lg font-semibold pt-2;
  }

  .typing-input {
    @apply w-full h-12 px-3 rounded-sm bg-[#2f2f2f] caret-[#f1f1f1] border border-[#4f4f4f] focus:outline-none focus:border focus:border-[#e30e30]/60 placeholder:text-[#9a9a9a];
  }

  .typing-input--icon {
    @apply absolute inset-0 p-3.5 peer-placeholder-shown:text-[#a9a9a9];
  }

  .filter-container {
    @apply grid grid-cols-4 gap-4 items-center [&>label]:font-semibold [&>label]:text-[#a9a9a9] md:flex xl:flex-col xl:items-start xl:gap-y-2;
  }

  .filter-container > :nth-child(1) {
    @apply col-span-1 md:w-14 xl:w-fit xl:whitespace-nowrap;
  }

  .filter-container > :nth-child(2) {
    @apply col-span-3 md:grow xl:grow-0 xl:w-full;
  }

  .filter-container > select {
    @apply h-12 px-3 rounded-sm text-sm text-[#a9a9a9] bg-[#1f1f1f] border border-[#4f4f4f] focus:outline-none focus:border focus:border-[#e30e30]/60;
  }

  .game-tab {
    @apply flex justify-center items-center gap-3 p-4 rounded-sm [&>p]:whitespace-nowrap;
  }

  .active {
    @apply bg-[#e30e30] hover:bg-[#fe0e0e] [&>*]:text-[#f1f1f1];
  }

  .inactive {
    @apply bg-[#2f2f2f] hover:bg-[#3f3f3f] [&>*]:text-[#a9a9a9] [&>*]:hover:text-[#f1f1f1];
  }

  .info-container {
    @apply w-full h-16 flex justify-between items-center px-6 sm:px-10 md:px-14 xl:px-24 2xl:px-32;
  }

  .info-container--hover {
    @apply hover:bg-[#2a2a2a] [&>div>p]:hover:text-[#f1f1f1] [&>*]:hover:fill-[#f1f1f1];
  }

  .info-container > div {
    @apply flex items-center gap-4 [&>p]:font-semibold;
  }

  .rating-container {
    @apply relative inline-block leading-none overflow-hidden text-[#a9a9a9];
  }

  .empty-stars,
  .filled-stars {
    @apply before:content-['\2605\2605\2605\2605\2605'] before:text-[18pt];
  }

  .score {
    @apply p-3 bg-[#e30e30] text-[#f1f1f1] font-semibold inline-block;
  }

  .filled-stars {
    @apply absolute inset-0 overflow-hidden text-[#e30e30];
  }
}
